@font-face {
    font-family: 'ProximaNova';
    src: url('ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('ProximaNova-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}